<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">
<div class="container" layout:fragment="content">

    <script th:inline="javascript" th:src="@{/js/community.js}"></script>

    <div id="sub">
        <div><img th:src="@{/images/sub_top_tit5.png}" alt="COMMUNITY"></div>
        <section class="community">
            <aside>
                <img th:src="@{/images/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

                <ul class="lnb">
                    <li id="cateNotice" data-cate="notice"><a th:href="@{/community/list(cate=notice)}">공지사항</a></li>
                    <li id="cateMenu" data-cate="menu"><a th:href="@{/community/list(cate=menu)}">오늘의식단</a></li>
                    <li id="cateChef" data-cate="chef"><a th:href="@{/community/list(cate=chef)}">나도요리사</a></li>
                    <li id="cateQna" data-cate="qna"><a th:href="@{/community/list(cate=qna)}">1:1고객문의</a></li>
                    <li id="cateFaq" data-cate="faq"><a th:href="@{/community/list(cate=faq)}">자주묻는질문</a></li>
                </ul>

            </aside>
            <article>
                <nav id="communityNav">
                    <img th:src="@{/images/sub_nav_tit_cate5_tit5.png}" alt="자주묻는질문"/>
                    <p>
                        HOME > 커뮤니티 > <em>자주묻는질문</em>
                    </p>
                </nav>

                <div>
                    <!-- thymeleaf 변수를 js 파일에서 사용하기 위해 input 에 값넣기 -->
                    <form>
                        <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}" id="cate"/>
                        <input type="hidden" name="ano" value="0" id="ano"/>
                    </form>
                    <table class="listTable">
                        <tr>
                            <th>No.</th>
                            <th>제 목</th>
                            <th>글쓴이</th>
                            <th>날짜</th>
                            <th>조회</th>
                        </tr>
                        <tr th:each="article, loop:${pageResponseDTO.dtoList}">
                            <td>[[${pageResponseDTO.startNo - loop.index}]]</td>
                            <td>
                                <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/community/view(ano=${article.ano}, pg=${pageResponseDTO.pg}, cate=${pageResponseDTO.cate})}">[[${article.title}]] <span th:if="${article.hit > 2 }"> ❤ </span></a>
                                <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/community/view(ano=${article.ano}, pg=${pageResponseDTO.pg}, cate=${pageResponseDTO.cate}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">[[${article.title}]] <span th:if="${article.hit > 2 }"> ❤ </span></a>
                            </td>
                            <td th:text="${article.nick}"></td>
                            <td th:text="${#temporals.format(article.rdate,'yyyy-MM')}"></td>
                            <td th:text="${article.hit}"></td>
                        </tr>
                    </table>
                    <nav aria-label="Page navigation example" class="text-center paginationNav">
                        <ul class="pagination justify-content-center">
                            <!-- 첫 페이지 -->
                            <li class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=1)}" aria-label="firstPage">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <a th:if="${pageResponseDTO.keyword != null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=1, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" aria-label="firstPage">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- 이전 페이지 -->
                            <li th:if="${pageResponseDTO.prev}" class="page-item">
                                <a  th:if="${pageResponseDTO.keyword == null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start - 1})}">&#60;</a>
                                <a  th:if="${pageResponseDTO.keyword != null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start - 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">&#60;</a>
                            </li>
                            <!-- 페이지 넘버 반복 -->
                            <li class="page-item" th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                <a  th:if="${pageResponseDTO.keyword == null}" th:classappend="${pageResponseDTO.pg == num} ? 'page-link current-page' : 'page-link'" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${num})}">
                                    [[${num}]]
                                </a>
                                <a  th:if="${pageResponseDTO.keyword != null}" th:classappend="${pageResponseDTO.pg == num} ? 'page-link current-page' : 'page-link'" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${num}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">
                                    [[${num}]]
                                </a>
                            </li>

                            <!-- 다음 페이지 -->
                            <li th:if="${pageResponseDTO.next}" class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.end + 1})}">&#62;</a>
                                <a th:if="${pageResponseDTO.keyword != null}" class="page-link" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.end + 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">&#62;</a>
                            </li>
                            <!-- 마지막 페이지 -->
                            <li class="page-item">
                                <a  th:if="${pageResponseDTO.keyword == null}" class="page-link" aria-label="last" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.last})}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <a  th:if="${pageResponseDTO.keyword != null}" class="page-link" aria-label="last" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.last}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="divWrite">
                        <a th:href="@{/community/write(cate=${pageResponseDTO.cate})}" class="btn btnGoWrite" id="btnGoWrite">글쓰기</a>
                    </div>
                </div>

            </article>
        </section>

    </div>


</div>

</html>