<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">


<div class="container" layout:fragment="content">

    <script th:src="@{/js/util.js}"></script>
    <script th:inline="javascript">
        window.onload = function (){
            const cate = [[${pageResponseDTO.cate}]];
            const cateLi = document.querySelectorAll(".lnb li");
            const communityNav = document.getElementById('communityNav');

            // aside 현재 카테고리 표시하기 - 반복처리
            cateLi.forEach(function(item) {

                const dataCate = item.getAttribute("data-cate");

                // 현재 cate와 li의 data-cate 값을 비교하여 일치하는 경우
                if (dataCate === cate) {
                    // 해당 요소에 클래스 추가
                    item.classList.add("on");
                }
            });
            // community 상단 Nav 표시하기
            if(cate === 'notice'){
                communityNav.innerHTML = `<img src="../images/sub_nav_tit_cate5_tit1.png" alt="자주묻는질문"/>
                                                <p> HOME > 커뮤니티 > <em>공지사항</em></p>`;
            } else if(cate === 'menu'){
                communityNav.innerHTML = `<img src="../images/sub_nav_tit_cate5_tit2.png" alt="자주묻는질문"/>
                                                <p> HOME > 커뮤니티 > <em>오늘의식단</em></p>`;
            } else if(cate === 'chef'){
                communityNav.innerHTML = `<img src="../images/sub_nav_tit_cate5_tit3.png" alt="자주묻는질문"/>
                                                <p> HOME > 커뮤니티 > <em>나도요리사</em></p>`;
            } else if(cate === 'qna'){
                communityNav.innerHTML = `<img src="../images/sub_nav_tit_cate5_tit4.png" alt="자주묻는질문"/>
                                                <p> HOME > 커뮤니티 > <em>1:1고객문의</em></p>`;
            } else if(cate === 'faq'){
                communityNav.innerHTML = `<img src="../images/sub_nav_tit_cate5_tit5.png" alt="자주묻는질문"/>
                                                <p> HOME > 커뮤니티 > <em>자주묻는질문</em></p>`;
            }

            const communityForm = document.getElementById('communityForm');
            const commentList = document.getElementById('commentList');
            const commentForm = document.getElementById('commentForm');
            const ano = [[${article.ano}]];

            // 댓글 불러오기 /////////////////////////////////////////////////////////////////////////
            setTimeout(async function () {
                const comments = await fetchGet(`/farmstory/comment/${ano}`);

                if(comments.length > 0){
                    // 댓글이 있다면
                    for(const comment of comments){
                        const commentArticle = `<article>
                                <span class="nick">${comment.nick}</span>
                                <span class="date">${comment.rdate.substring(0, 10)}</span>
                                <p class="content">댓글 내용</p>
                                <div>
                                    <a href="#" data-no="${comment.cno}" data-ano="${comment.ano}" class="remove">삭제</a>
                                    <a href="#" class="modify">수정</a>
                                </div>
                            </article>`;
                        // 태그 문자열 삽입
                        commentList.insertAdjacentHTML('beforeend', commentArticle);
                    }
                }else {
                    // 댓글이 없다면
                    const commentArticle = `<article><p class="content">댓글이 없습니다. 😥 <br> 첫 번째 댓글을 남겨주세요.</p></article>`;
                    commentList.insertAdjacentHTML('beforeend', commentArticle);
                }
            }, 100);

            // 댓글 불러오기 /////////////////////////////////////////////////////////////////////////

        }
    </script>

    <main>
        <div id="sub">
            <div><img th:src="@{/images/sub_top_tit5.png}" alt="COMMUNITY"></div>
            <section class="community">
                <aside>
                    <img th:src="@{/images/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

                    <ul class="lnb">
                        <li id="cateNotice" data-cate="notice"><a th:href="@{/community/list(cate=notice)}">공지사항</a></li>
                        <li id="cateMenu" data-cate="menu"><a th:href="@{/community/list(cate=menu)}">오늘의식단</a></li>
                        <li id="cateChef" data-cate="chef"><a th:href="@{/community/list(cate=chef)}">나도요리사</a></li>
                        <li id="cateQna" data-cate="qna"><a th:href="@{/community/list(cate=qna)}">1:1고객문의</a></li>
                        <li id="cateFaq" data-cate="faq"><a th:href="@{/community/list(cate=faq)}">자주묻는질문</a></li>
                    </ul>
                </aside>
                <article class="view">
                    <nav id="communityNav">
                        <img src="../images/sub_nav_tit_cate5_tit5.png" alt="자주묻는질문"/>
                        <p>
                            HOME > 커뮤니티 > <em>자주묻는질문</em>
                        </p>
                    </nav>
                    <!-- 내용 시작 -->
                    <section class="community_view">
                        <form id="communityForm">
                            <table>
                                <tr>
                                    <th>제목</th>
                                    <td><input type="text" name="title" readonly th:value="${article.title}"/></td>
                                </tr>
                                <tr th:if="${article.file > 0}">
                                    <th>파일</th>
                                    <td>
                                        <ul class="list-group" id="exampleFormControlInput1">
                                            <li th:each="file:${article.fileList}"
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <a href="#" class="link-grey visually-hidden removeFile" th:data-fno="${file.fno}"><i class="bi bi-trash3-fill"></i> 삭제</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td>
                                        <textarea name="content" readonly>[[${article.content}]]</textarea>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div>
                                <a href="#" class="btn btnRemove" id="btnRemove">삭제</a>
                                <a href="#" class="btn btnModify" id="btnModify">수정</a>
                            <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg})}"
                               class="btn btnList">목록</a>
                            <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}"
                               class="btn btnList">목록</a>
                        </div>

                        <!-- 댓글목록 -->
                        <section class="commentList" id="commentList">
                                <!-- 댓글 내용 -->
                        </section>

                        <!-- 댓글쓰기 -->
                        <section class="commentForm">
                            <h3>댓글쓰기</h3>
                            <form action="#" name="commentForm" method="post">
                                <input type="hidden" name="writer" value="${sessUser.uid}">
                                <input type="hidden" name="parent" value="${articleDTO.no}">
                                <textarea name="content" class="commentContent"></textarea>
                                <div>
                                    <a href="#" class="btn btnCancel">취소</a>
                                    <input type="submit" name="submit" value="작성완료" class="btn btnComment"/>
                                </div>
                            </form>
                        </section>
                    </section>
                    <!-- 내용 끝 -->
                </article>
            </section>

        </div>
    </main>
</div>
</html>