<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div class="container" layout:fragment="content">

    <script th:inline="javascript" th:src="@{/js/communityWrite.js}"></script>

    <div id="sub">
        <div><img th:src="@{/images/sub_top_tit5.png}" alt="COMMUNITY"></div>
        <section class="community">
            <aside>
                <img th:src="@{/images/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

                <ul class="lnb">
                    <li id="cateNotice" data-cate="notice"><a th:href="@{/community/list(cate=notice)}">공지사항</a></li>
                    <li id="cateMenu" data-cate="menu"><a th:href="@{/community/list(cate=menu)}">오늘의식단</a></li>
                    <li id="cateChef" data-cate="chef"><a th:href="@{/community/list(cate=chef)}">나도요리사</a></li>
                    <li id="cateQna" data-cate="qna"><a th:href="@{/community/list(cate=qna)}">1:1고객문의</a></li>
                    <li id="cateFaq" data-cate="faq"><a th:href="@{/community/list(cate=faq)}">자주묻는질문</a></li>
                </ul>
            </aside>
            <article class="view">
                <nav id="communityNav">
                    <img th:src="@{/images/sub_nav_tit_cate5_tit5.png}" alt="자주묻는질문"/>
                    <p>
                        HOME > 커뮤니티 > <em>자주묻는질문</em>
                    </p>
                </nav>
                <!-- 내용 시작 -->
                <div id="community_write">
                    <article class="community_post">
                        <form th:action="@{/community/write}" id="formWrite" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="ano" value="0" id="ano"/>
                            <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}" id="cate">
                            <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
                            <header>
                                <div class="title">
                                    <input type="text" name="title">
                                </div>
                            </header>
                            <textarea class="commentForm" name="content" placeholder="내용입력"></textarea>
                            <p> </p>
                            <footer>
                                    <label for="formFileMultiple" class="form-label">파일첨부</label>
                                    <input class="form-control" type="file" name="files" id="formFileMultiple" multiple>
                            </footer>
                        </form>
                    </article>
                </div>
                <!-- 내용 끝 -->
            </article>
            <div class="text-end">
                <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg})}"
                   class="btn btnCancel">취소</a>
                <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/community/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}"
                   class="btn btnCancel">취소</a>
                <a th:href="@{/community/write}" id="btnWrite" class="btn btnWrite">등록</a>
            </div>
        </section>

    </div>
</div>

</html>