<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">


    <div class="container" layout:fragment="content">

        <script>
            window.onload = function () {
                const agree1 = document.getElementsByName('agree1')[0];
                const agree2 = document.getElementsByName('agree2')[0];
                const btnNext = document.getElementsByClassName('btnNext')[0];

                btnNext.onclick = function () {
                    if (agree1.checked && agree2.checked) {
                        return true;
                    } else {
                        alert('이용약관과 개인정보 취급방침은 필수 동의입니다.');
                        return false;
                    }
                };
            }
        </script>


        <section class="terms">
            <table>
                <caption>사이트 이용약관</caption>
                <tr>
                    <td>
                        <label>
                            <textarea class="form-control" rows="10" cols="100" readonly th:text="${termsDTO.terms}">약관내용</textarea>
                        </label>
                        <label class="float-end mt-2"><input type="checkbox" name="agree1">동의합니다.</label>
                    </td>
                </tr>
            </table>
            <table>
                <caption>개인정보 취급방침</caption>
                <tr>
                    <td>
                        <label>
                            <textarea class="form-control" rows="10" cols="100" readonly th:text="${termsDTO.privacy}">개인정보 취급방침 내용</textarea>
                        </label>
                        <label class="float-end mt-2"><input type="checkbox" name="agree2">동의합니다.</label>
                    </td>
                </tr>
            </table>
            <div>
                <a th:href="@{/user/login}" class="btnCancel">취소</a>
                <a th:href="@{/user/register}" class="btnNext">다음</a>
            </div>
        </section>
    </div>
</html>