<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">

    <main layout:fragment="content">
        <aside>
            <h3>주요기능</h3>
            <ul>
                <li><a href="#">상품관리</a></li>
                <li class="on"><a href="#">주문관리</a></li>
                <li><a href="#">회원관리</a></li>
            </ul>
        </aside>
        <section id="orderList">
            <nav>
                <h3>주문목록</h3>
            </nav>

            <article>

                <table border="0">
                    <tr>
                        <th><input type="checkbox" name="all"/></th>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>합계</th>
                        <th>주문자</th>
                        <th>주문일</th>
                        <th>확인</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name=""/></td>
                        <td>1001</td>
                        <td>사과 500g</td>
                        <td>4,000원</td>
                        <td>2</td>
                        <td>3,000원</td>
                        <td>11,000원</td>
                        <td>김유신</td>
                        <td>2023-01-01 13:06:14</td>
                        <td><a href="./detail.html">[상세확인]</a></td>
                    </tr>
                </table>

                <p>
                    <a href="#" class="orderDelete">선택삭제</a>
                </p>

                <p class="paging">
                    <a href="#"><</a>
                    <a href="#" class="on">[1]</a>
                    <a href="#">[2]</a>
                    <a href="#">[3]</a>
                    <a href="#">[4]</a>
                    <a href="#">[5]</a>
                    <a href="#">></a>
                </p>
            </article>
        </section>
    </main>