<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팜스토리::장바구니</title>
    <link rel="stylesheet" href="../css/style.css"/>

    <script>
        window.onload = function () {

            const totalCount = document.getElementById('totalCount');
            const totalPrice = document.getElementById('totalPrice');
            const totalDiscount = document.getElementById('totalDiscount');
            const totalDelCost = document.getElementById('totalDelCost');
            const totalPoint = document.getElementById('totalPoint');
            const totalOrder = document.getElementById('totalOrder');

            const prodCheckBox = document.querySelectorAll('.prodCheckBox');

        //// 페이지 로드시 가격 표시 ////
            const prodCount = document.getElementsByName('prodCount');
            const prodPoint = document.getElementsByName('prodPoint');
            const prodPrice = document.getElementsByName('prodPrice');
            const prodDisPrice = document.getElementsByName('prodDisPrice');
            const prodTotal = document.getElementsByName('prodTotal');
            // 각 품목 합계 total값들
            let totalProdCount = 0;
            let totalProdPrice = 0;
            let totalProdDisPrice = 0;
            let totalProdPoint = 0;
            let totalProdTotal = 0;

            // 각 포인트, 가격, 할인, 합계값 더하는 for문
            for (let i = 0; i < prodPoint.length; i++) {
                totalProdCount += 1;
                totalProdPrice += (parseInt(prodPrice[i].innerText) * parseInt(prodCount[i].value));
                totalProdDisPrice += (parseInt(prodPrice[i].innerText) - parseInt(prodDisPrice[i].innerText))* parseInt(prodCount[i].value);
                totalProdPoint += (parseInt(prodPoint[i].innerText) * parseInt(prodCount[i].value));
                totalProdTotal += parseInt(prodTotal[i].innerText);
            }
            // 태그에 값 출력하기
            totalCount.innerText = totalProdCount.toString();
            totalPrice.innerText = totalProdPrice.toString();
            totalDiscount.innerText = totalProdDisPrice.toString();
            totalPoint.innerText = totalProdPoint.toString();
            totalOrder.innerText = totalProdTotal.toString();

            // 수량 조절시 실시간 가격 조정
            const counts = document.getElementsByClassName('count');
            Array.from(counts).forEach(function(count) {
                count.addEventListener('input', function(e) {
                    alert(e.target.value);
                    const tr = e.target.parentNode.parentNode; // 수량 변경된 항목의 tr 태그

                    const priceTag = tr.querySelector('[name="prodPrice"]');
                    const discountTag = tr.querySelector('[name="prodDiscount"]');
                    const prodTotalTag = tr.querySelector('[name="prodTotal"]');

                    const price = parseInt(priceTag.innerText); // 상품 1개당 가격
                    const discount = parseInt(discountTag.innerText); // 상품 할인율
                    const subTotal = parseInt(prodTotalTag.innerText); // 변경 전 상품 소계
                    const count = subTotal / (price - (price * discount / 100)); // 변경 전 상품 수량
                    const point = subTotal * 10 / 100; // 변경 전 상품 포인트
                    const disPrice = (price * count) - subTotal; // 변경 전 상품 할인된 금액

                    console.log("상품 1개 가격" + price);
                    console.log("변경전 수량" + count);
                    console.log("변경전 소계" + subTotal);
                    console.log("변경전 포인트" + point);
                    console.log("변경전 할인된 금액" + disPrice);

                    const modCount = e.target.value; // 변경된 수량
                    const modPrice = price * modCount; // 변경된 수량 x 가격
                    const modDisPrice = modPrice * discount / 100 // 변경된 수량 x 할인율
                    const modSubTotal = modPrice - modDisPrice; // 변경된 할인된 가격 (소계)
                    const modPoint = modSubTotal * 10 / 100; // 변경된 포인트

                    console.log("변경된 수량" + modCount);
                    console.log("변경된 가격" + modPrice);
                    console.log("변경된 할인된 가격" + modDisPrice);
                    console.log("변경된 소계" + modSubTotal);
                    console.log("변경된 포인트" + modPoint);

                    totalPrice.innerText = (parseInt(totalPrice.innerText) - (price*count) + modPrice).toString();
                    totalDiscount.innerText = (parseInt(totalDiscount.innerText) - disPrice + modDisPrice).toString();
                    totalPoint.innerText = (parseInt(totalPoint.innerText) - point + modPoint).toString();
                    totalOrder.innerText = (parseInt(totalOrder.innerText) - subTotal + modSubTotal).toString();
                    prodTotalTag.innerText = modSubTotal; // 수량 변경된 행의 소계 변경
                });
            });
            // 주문하기 버튼 클릭시 DB에서 수량조절 후 order로 전달
            const btnOrder = document.getElementsByClassName('btnOrder')[0];
            btnOrder.onclick = function () {
                alert("g2");
                const cart_prodNo = document.getElementsByName('cart_prodNo');
                const prodCount = document.getElementsByName('prodCount');
                const uid = document.getElementById('uid').value;

                const modCart_prodNo = []; // cart_product 번호
                const modCount = []; // 수량

                for (let i = 0; i < cart_prodNo.length; i++) {
                    const currentProdNo = cart_prodNo[i].value; // 현재 상품 번호
                    const currentCount = prodCount[i].value; // 현재 수량
                    modCart_prodNo.push(currentProdNo);
                    modCount.push(currentCount)
                }
                console.log(modCart_prodNo);
                console.log(modCount);

                const jsonData = {
                    "cart_prodNo" : modCart_prodNo,
                    "count" : modCount
                };
                const jsonData2 = {
                    "uid" : uid,
                    "cart_prodNo" : modCart_prodNo
                };

                fetch("/farmstory/market/modCount", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(jsonData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('수량 변경에 실패했습니다.');
                        }
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        // 성공일 경우 uid, modCart_prodNo 들고 /market/order로 넘어감
                        // window.location.href = `/market/order?uid=${uid}&cart_prodNo=${modCart_prodNo}`;
                        if (data.data === "수량 변경 성공"){
                            fetch("/farmstory/market/order", {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(jsonData2)
                            })
                                .then(Response => Response.json())
                                .then(data => {console.log(data);})
                                .catch(err => console.log(err))
                        }
                    })
                    .catch(err => console.log(err))
            }


            // prodCheckBox를 체크할때마다 최종 가격 변동
            const allCheckBox = document.getElementById('allCheckBox');
            let checkedTurn = 0;
            allCheckBox.onclick = function (){
                if (checkedTurn === 0) {
                    prodCheckBox.forEach(checkBox => {
                        checkBox.checked = true;
                    })
                    checkedTurn = 1;
                } else {
                    prodCheckBox.forEach(checkBox => {
                        checkBox.checked = false;
                    })
                    checkedTurn = 0;
                }
            }

            // 선택 삭제 버튼 클릭시
            const btnDeleteProd = document.getElementById('btnDeleteProd');

            btnDeleteProd.onclick = function (e) {
                // 삭제할 상품의 번호를 저장하는 배열
                let cart_prodNo = [];
                let deleteTr = [];
                // forEach로 순회하며 checked된 상품의 번호 찾기
                prodCheckBox.forEach(check => {
                    if (check.checked){
                        const checkBox = check;
                        const tr = checkBox.parentNode.parentNode;
                        deleteTr.push(tr);
                        cart_prodNo.push(tr.querySelector('[name="cart_prodNo"]').value);
                    }
                })
                console.log(cart_prodNo);

                // 삭제
                const result = confirm("선택하신 상품을 장바구니에서 삭제하시겠습니까?");
                if (result){
                    const jsonData = {
                        "cart_prodNo" : cart_prodNo
                    }
                    console.log("g2");
                    fetch("/farmstory/market/deleteCart", {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(jsonData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('삭제에 실패했습니다.');
                            }
                            return response.json()
                        })
                        .then(data => {
                            console.log("g3");

                            if (data.data === "삭제 성공"){
                                for (let i = 0; i < cart_prodNo.length; i++) {
                                    console.log(cart_prodNo[i]);
                                    deleteTr[i].remove();
                                }
                                // 다음 삭제를 위해 배열 비우기
                                cart_prodNo = [];
                                deleteTr = [];

                                // 전체 합계 재집계
                                totalProdCount = 0;
                                totalProdPrice = 0;
                                totalProdDisPrice = 0;
                                totalProdPoint = 0;
                                totalProdTotal = 0;
                                // 각 포인트, 가격, 할인, 합계값 더하는 for문
                                for (let i = 0; i < prodPoint.length; i++) {
                                    totalProdCount += 1;
                                    totalProdPrice += (parseInt(prodPrice[i].innerText) * parseInt(prodCount[i].value));
                                    totalProdDisPrice += (parseInt(prodPrice[i].innerText) - parseInt(prodDisPrice[i].innerText))* parseInt(prodCount[i].value);
                                    totalProdPoint += (parseInt(prodPoint[i].innerText) * parseInt(prodCount[i].value));
                                    totalProdTotal += parseInt(prodTotal[i].innerText);
                                }
                                // 태그에 값 출력하기
                                totalCount.innerText = totalProdCount.toString();
                                totalPrice.innerText = totalProdPrice.toString();
                                totalDiscount.innerText = totalProdDisPrice.toString();
                                totalPoint.innerText = totalProdPoint.toString();
                                totalOrder.innerText = totalProdTotal.toString();



                            }
                        })
                        .catch(err => console.log(err))
                }else {
                    alert("취소되었습니다.");
                }

            }

/*
            document.addEventListener('click', function (e){
                if (e.target.className === "prodCheckBox"){
                    const checkBox = e.target;
                    const tr = checkBox.parentNode.parentNode;
                    if (checkBox.checked){
                        console.log("체크");
                        console.log(tr.querySelector('[name="prodPrice"]').innerText);
                    }else {
                        console.log("해제");
                    }
                }

            })

 */


        }
    </script>

</head>
<body>
<div id="container">
    <header>
        <a href="../index.html" class="logo"><img src="../images/logo.png" alt="로고"/></a>
        <p>
            <a href="#">HOME |</a>
            <a href="#">로그인 |</a>
            <a href="#">회원가입 |</a>
            <a href="#">고객센터</a>
        </p>
        <img src="../images/head_txt_img.png" alt="3만원 이상 무료배송"/>

        <ul class="gnb">
            <li><a href="#">팜스토리소개</a></li>
            <li><a href="#"><img src="../images/head_menu_badge.png" alt="30%"/>장바구니</a></li>
            <li><a href="#">농작물이야기</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">커뮤니티</a></li>
        </ul>
    </header>

    <div id="sub">
        <div><img src="../images/sub_top_tit2.png" alt="MARKET"></div>
        <section class="market">
            <aside>
                <img src="../images/sub_aside_cate2_tit.png" alt="장보기"/>

                <ul class="lnb">
                    <li class="on"><a href="./market.html">장보기</a></li>
                </ul>
            </aside>
            <article class="cart">
                <nav>
                    <img src="../images/sub_nav_tit_cate2_tit1.png" alt="장보기"/>
                    <p>
                        HOME > 장보기 > <em>장보기</em>
                    </p>
                </nav>

                <!-- 내용 시작 -->
                <p class="sort">
                    <a href="#" class="on">장바구니 전체(10)</a>
                    <input type="hidden" id="uid" th:value="${#authentication.principal.user.uid}">
                </p>
                <table border="0">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="allCheckBox">
                        </th>
                        <th>이미지</th>
                        <th>종류</th>
                        <th>상품명</th>
                        <th>무게</th>
                        <th>수량</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>가격</th>
                        <th>소계</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${productDTO} == null" class="empty">
                        <td colspan="9">장바구니에 상품이 없습니다.</td>
                    </tr>
                    <tr th:each="product : ${productDTO}">
                        <td>
                            <input type="checkbox" name="" class="prodCheckBox">
                            <input type="hidden" name="cart_prodNo" th:value="${product.cart_prodNo}">
                        </td>
                        <td>
                            <a href="./productDetail.html"><img th:src="@{'/imagePath/'+${product.thumb}}" class="thumb" alt="사과 500g"></a>
                        </td>
                        <td>[[${product.cate}]]</td>
                        <td><a href="#">[[${product.prodname}]]</a></td>
                        <td>
                            <span th:if="${product.amount} >= 1000" th:text="(${product.amount}/1000)+'kg'"></span>
                            <span th:if="${product.amount} < 1000" th:text="${product.amount}+'g'"></span>
                        </td>
                        <td>
                            <input type="number" class="count" th:name="prodCount" th:value="${product.count}">
                        </td>
                        <td>
                            <span th:text="${product.discount}" th:name="prodDiscount"></span>%
                        </td>
                        <td><span th:text="(${product.price}-(${product.price}*${product.discount}/100))*10/100" th:name="prodPoint"></span> P</td>
                        <td>
                            <span th:text="${product.price}-(${product.price}*${product.discount}/100)" th:name="prodDisPrice"></span> 원
                            <s><span th:text="${product.price}" th:name="prodPrice"></span></s> 원
                        </td>
                        <td><strong th:text="(${product.price}-(${product.price}*${product.discount}/100))*${product.count}" th:name="prodTotal"></strong>원</td>
                    </tr>


                    </tbody>
                </table>
                <input type="button" name="del" id="btnDeleteProd" value="선택삭제">

                <div class="info">
                    <table border="0">
                        <caption>전체합계</caption>
                        <tr>
                            <th>상품수</th>
                            <td id="totalCount"></td>
                        </tr>
                        <tr>
                            <th>상품금액</th>
                            <td id="totalPrice"></td>
                        </tr>
                        <tr>
                            <th>할인금액</th>
                            <td id="totalDiscount"></td>
                        </tr>
                        <tr>
                            <th>배송비</th>
                            <td class="delivery" id="totalDelCost"></td>
                        </tr>
                        <tr>
                            <th>포인트</th>
                            <td id="totalPoint"></td>
                        </tr>
                        <tr>
                            <th>전체주문금액</th>
                            <td class="total" id="totalOrder"></td>
                        </tr>
                        </tr>
                    </table>
                    <button class="btnOrder">주문하기</button>
                </div>
                <!-- 내용 끝 -->

            </article>
        </section>

    </div>


    <footer>
        <img src="../images/footer_logo.png" alt="로고"/>
        <p>
            (주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-팜스토리구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호<br />
            등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동<br />
            대표 : 홍길동 / 이메일 : email@mail.mail / 전화 : 01) 234-5678 / 경기도 성남시 잘한다구 신난다동 345<br />
            <em>Copyright(C)홍길동 All rights reserved.</em>
        </p>
    </footer>
</div>
</body>
</html>