<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmPlus</title>
    <link rel="stylesheet" th:href="@{/newcss/mainStyle.css}">
</head>
<body>
    <div class="container">
        <header>
            <div class="userBox">
                <a th:href="@{/user/login}">로그인</a>
                <a th:href="@{/user/register}">회원가입</a>
                <a>고객센터</a>
            </div>

            <div class="logoBox">
                <a th:href="@{/newindex}"><img th:src="@{/newimage/farm_header_logo.png}" alt="logoImg"></a>
                
                <form action="">
                    <label for="indexSearch">
                    <input type="text" id="indexSearch" placeholder="검색어를 입력하세요">
                    <button><img th:src="@{/newimage/farm_header_search.svg}" alt="button"></button>
                    </label>
                </form>

                <div class="btnUserBox">
                    <a class="btnUser">
                        <img class="btnUserImg1" th:src="@{/newimage/farm_header_cart.png}" alt="cart">
                        <h5>장바구니</h5>
                    </a>
                    <a class="btnUser">
                        <img class="btnUserImg2" th:src="@{/newimage/farm_header_user.png}" alt="">
                        <h5>마이페이지</h5>
                    </a>
                    <a class="btnUser">
                        <img class="btnUserImg3" th:src="@{/newimage/farm_header_order.png}" alt="">
                        <h5>배송조회</h5>
                    </a>
                </div>
            </div>

            <div class="navBox">
                <ul>
                    <li><a th:href="@{/introduction/hello}">팜스토리소개</a></li>
                    <li><a th:href="@{/market/newlist}">장보기</a></li>
                    <li><a th:href="@{/cropTalk/newlist(cate=story)}">농작물이야기</a></li>
                    <li><a th:href="@{/event/newlist(cate=event)}">이벤트</a></li>
                    <li><a th:href="@{/community/newlist(cate=notice)}">커뮤니티</a></li>
                </ul>
            </div>

            <div class="bgBox">
                <img th:src="@{/newimage/farm_top_text_market.png}" alt="top_bg">
            </div>

        </header>

        <main class="articleMain">
            <div class="sideBox">
                <img th:src="@{/newimage/farm_market_logo.png}" alt="">
                <ul>
                    <li><a class="tabOn" th:href="@{/market/newlist}">장보기</a></li>
                    <li><a>장바구니</a></li>
                    <li><a>배송조회</a></li>
                </ul>
            </div>

            <div class="contentBox">
                <div class="articleHeader">
                    <h2>장보기</h2>
                    <h5>HOME > 장보기 > <span>장보기</span></h5>
                </div>

                <div class="articleBox">
                    <div class="pordCateBox marketInfo">

                        <div class="productCate">
                            <a th:href="@{/market/newlist}" class="cateOn">전체</a>
                            <a th:href="@{/market/newlist(cate=야채)}" class="">야채</a>
                            <a th:href="@{/market/newlist(cate=과일)}" class="">과일</a>
                            <a th:href="@{/market/newlist(cate=곡류)}" class="">곡류</a>
                            <a th:href="@{/market/newlist(cate=기타)}" class="">기타</a>

                            <form class="marketSearch" action="">
                                <label for="marketSearch">
                                    <input type="text" id="marketSearch">
                                    <button><img th:src="@{/newimage/farm_header_search.svg}" alt="button"></button>
                                </label>
                            </form>
                        </div>
                        
                        <div class="productArray">
                            <a class="arrayOn">최신순</a>
                            <a class="">가격낮은순</a>
                            <a class="">가격높은순</a>
                            <a class="">판매량순</a>
                        </div>

                    </div>

                    <div class="productBox">
                        <th:block th:each="product : ${marketPageResponseDTO.dtoList}" >
                            <a th:href="@{/market/newview(prodno=${product.prodno},
                                cate=${marketPageResponseDTO.cate},
                                type=${marketPageResponseDTO.type},
                                keyword=${marketPageResponseDTO.keyword})}"
                               th:attr="href_append=${marketPageResponseDTO.pg != null ? '&pg=' + marketPageResponseDTO.pg : ''}" class="product">
                                <div>
                                    <img th:src="@{'/imagePath/'+${product.thumb}}" th:alt="${product.prodname}">
                                </div>
                                <div>
                                    <div class="disProd"><span>할인상품</span></div>
                                    <h4 class="title">[[${product.prodname}]]</h4>
                                    <h4 class="amount">
                                        <span th:if="${product.amount} >= 1000" th:text="(${product.amount}/1000)+'kg'"></span>
                                        <span th:if="${product.amount} < 1000" th:text="${product.amount}+'g'"></span></h4><br>
                                    <h3 class="discount"><span>[[${product.discount}]]</span>% </h3>
                                    <span class="price"><s>[[${product.price}]]</s></span><br>
                                    <h3>[[${product.price} - (${product.price} * ${product.discount} / 100)]]</h3><span>원</span>
                                    <h5 class="point">
                                        <span th:text="${(product.price - (product.price * product.discount / 100)) * 0.10}"></span>포인트 적립
                                    </h5>
                                </div>
                            </a>
                        </th:block>
                    </div>

                    <div class="PageBox">
                        <ul>
                            <li th:if="${marketPageResponseDTO.prev}">
                                <a th:if="${marketPageResponseDTO.keyword == null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${marketPageResponseDTO.start - 1})}">이전</a>
                                <a th:if="${marketPageResponseDTO.keyword != null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${marketPageResponseDTO.start - 1},
                                                                                    type=${marketPageResponseDTO.type}, keyword=${marketPageResponseDTO.keyword})}">이전</a>
                            </li>
                            <li th:each="n : ${#numbers.sequence(marketPageResponseDTO.start, marketPageResponseDTO.end)}">
                                <a th:if="${marketPageResponseDTO.keyword == null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${n})}" th:text="${n}"></a>
                                <a th:if="${marketPageResponseDTO.keyword != null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${n},
                                                                        type=${marketPageResponseDTO.type}, keyword=${marketPageResponseDTO.keyword})}" th:text="${n}"></a>

                            </li>

                            <li th:if="${marketPageResponseDTO.next}">
                                <a th:if="${marketPageResponseDTO.keyword == null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${marketPageResponseDTO.end + 1})}">다음</a>
                                <a th:if="${marketPageResponseDTO.keyword != null}" th:href="@{/market/newlist(cate=${marketPageResponseDTO.cate}, pg=${marketPageResponseDTO.end + 1},
                                                                                        type=${marketPageResponseDTO.type}, keyword=${marketPageResponseDTO.keyword})}">다음</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </main>

        <footer>
            <div class="footerImgBox">
                <img th:src="@{/newimage/farm_footer_logo.png}" alt="">
                <img th:src="@{/newimage/farm_footer_wood.png}" alt="">
            </div>
            <p>
                (주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-팜스토리구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호
                <br>
                등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동
                <br>
                대표 : 홍길동 / 이메일 : email@mail.mail / 전화 : 01) 234-5678 / 경기도 성남시 잘한다구 신난다동 345
                <br>
                <em>Copyright(C)홍길동 All rights reserved. 0.0.4-SNAPSHOT</em>
            </p>
        </footer>
    </div>
</body>
</html>