<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/newUserLayout}">

<div class="container" layout:fragment="content">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmPlus</title>
    <link rel="stylesheet" href="../css/mainStyle.css">
    <script>
        window.onload = function(){
            // 플러스 버튼 클릭 시 수량 증가
            document.querySelector('.plus-btn').addEventListener('click', function() {
                const quantityInput = document.querySelector('.quantity');
                let value = parseInt(quantityInput.value);
                value = isNaN(value) ? 0 : value;
                quantityInput.value = value + 1;
            });

            // 마이너스 버튼 클릭 시 수량 감소
            document.querySelector('.minus-btn').addEventListener('click', function() {
                const quantityInput = document.querySelector('.quantity');
                let value = parseInt(quantityInput.value);
                value = isNaN(value) ? 0 : value;
                if (value > 1) {
                    quantityInput.value = value - 1;
                }
            });
        }
    </script>


        <main class="articleMain">
            <div class="sideBox">
                <img src="../image/farm_market_logo.png" alt="">
                <ul>
                    <li><a class="" href="">장보기</a></li>
                    <li><a class="" href="">장바구니</a></li>
                    <li><a class="" href="">배송조회</a></li>
                </ul>
            </div>

            <div class="contentBox">
                <div class="articleHeader">
                    <h2>주문/결제</h2>
                    <h5>HOME > 장보기 > <span>주문/결제</span></h5>
                </div>

                <div class="orderBox">
                    <h3>구매상품</h3>
                    <div class="orderProdBox">
                        <div class="orderProd">
                            <img src="../image/오렌지120.png" alt="">
                            <div>
                                <p>
                                    <b class="prodName">맛난다 오렌지</b>
                                    <b class="prodAmount">1.5</b>kg
                                </p>
                                <p>
                                    <span><b class="prodDiscount">50</b>%</span>
                                    <span><s class="prodPrice">19000</s>원</span>
                                </p>
                                <p><span><b class="prodCutPrice">9900</b>원</span></p>
                            </div>
                            <div>
                                <p>
                                    수량<b class="prodQnty">3</b>개
                                </p>
                            </div>
                            <div>
                                <p>
                                    <b class="prodDelDate">04-03</b> 도착 예정
                                </p>
                            </div>
                        </div>
                        <div class="orderProd">
                            <img src="../image/오렌지120.png" alt="">
                            <div>
                                <p>
                                    <b class="prodName">맛난다 오렌지</b>
                                    <b class="prodAmount">1.5</b>kg
                                </p>
                                <p>
                                    <span><b class="prodDiscount">50</b>%</span>
                                    <span><s class="prodPrice">19000</s>원</span>
                                </p>
                                <p><span><b class="prodCutPrice">9900</b>원</span></p>
                            </div>
                            <div>
                                <p>
                                    수량<b class="prodQnty">3</b>개
                                </p>
                            </div>
                            <div>
                                <p>
                                    <b class="prodDelDate">04-03</b> 도착 예정
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="orderbotBox">
                        <div class="orderInfoBox">
                            <h3>구매자정보</h3>
                            <div class="orderConsumerBox">
                                <table>
                                    <tr>
                                        <td>이름</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td>abc123@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>연락처</td>
                                        <td><input type="text" class="userHp" value="010-1234-5678"></td>
                                    </tr>
                                </table>
                            </div>
        
                            <h3>받는사람정보</h3>
                            <div class="orderReceiverBox">
                                <table>
                                    <tr>
                                        <td>이름</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>배송 주소</td>
                                        <td>
                                            <input type="text" name="zip" readonly><button id="btnZip">우편번호 검색</button>
                                            <input type="text" name="addr1" placeholder="기본주소 검색">
                                            <input type="text" name="addr2" placeholder="상세주소 입력">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>연락처</td>
                                        <td><input type="text" class="receiverHp"></td>
                                    </tr>
                                    <tr>
                                        <td>메모</td>
                                        <td><textarea class="receiverMemo"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="orderPayBox">
                            <h3>결제정보</h3>
                            <div class="orderPay">
                                <p>주문예상금액</p>
                                <p>총 상품 가격<span><b>39000</b>원</span></p>
                                <p>총 할인<span>- <b>9000</b>원</span></p>
                                <p>배송비<span>+ <b>5000</b>원</span></p>
                                <p>포인트사용
                                    <span>- <input type="text" class="usePoint" value="0"> P</span>
                                </p>
                                <p>
                                    <!--사용포인트가 보유 포인트를 초과했을때 span에 경고 출력-->
                                    <span>사용가능한 포인트 초과</span>
                                    <span>보유 <b>5000</b> P</span>
                                </p>

                                <p>결제 금액<span><b>35000</b>원</span></p>
                                <p>적립 포인트<span><b>3500</b> P</span></p>
                                <button>결제하기</button>
                            </div>
                        </div>
                    </div>
                                       
                </div>
            </div>
        </main>


    </div>
</html>